<div class="all bg">

<h1 class="sk text-center">Personal Projects</h1>
<div class="row p-5">
    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="row">
                <div class="col-10">
                    <h4>E-commerce APP</h4>
                </div>
                <div class="col-2">
                   <h4><a target="_blank" href="https://github.com/Ahmed-Hassan111/E-commerce_app.git"><i style="text-align: right;cursor: pointer;" class="fa-brands fa-github"></i></a></h4>
                </div>
            </div>
            <li>
                .NET MVC, C#
            </li>
            <p>E-commerce APP Using .NET MVC.</p>
        </div>
    </div>

    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="row">
                <div class="col-10">
                    <h4>ChatApplication</h4>
                </div>
                <div class="col-2">
                   <h4><a target="_blank" href="https://github.com/Ahmed-Hassan111/ChatApplication.git"><i style="text-align: right;cursor: pointer;" class="fa-brands fa-github"></i></a></h4>
                </div>
            </div>
            <li>
                .NET MVC, C#, SingnalIR
            </li>
            <p>ChatApplication Using .NET MVC, C#, SingnalIR.</p>
        </div>
    </div>

    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="row">
                <div class="col-10">
                    <h4>Vacation-Management-System</h4>
                </div>
                <div class="col-2">
                   <h4><a target="_blank" href="https://github.com/Ahmed-Hassan111/Vacation-Management-System.git"><i style="text-align: right;cursor: pointer;" class="fa-brands fa-github"></i></a></h4>
                </div>
            </div>
            <li>
                .NET MVC, SQL Server, Entity Framework
            </li>
            <p>Vacation-Management-System Using .NET MVC, SQL Server, Entity Framework.</p>
        </div>
    </div>

    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="row">
                <div class="col-10">
                    <h4>BlockedCountriesAPI</h4>
                </div>
                <div class="col-2">
                   <h4><a target="_blank" href="https://github.com/Ahmed-Hassan111/BlockedCountriesAPI.git"><i style="text-align: right;cursor: pointer;" class="fa-brands fa-github"></i></a></h4>
                </div>
            </div>
            <li>
                .NET API, SQL Server
            <p>BlockedCountriesAPI Using .NET API, SQL Server </p>
        </div>
    </div>

    <!-- <div class="col-md-6 mb-3">
        <div class="card">
            <div class="row">
                <div class="col-10">
                    <h4>Snake Game</h4>
                </div>
                <div class="col-2">
                   <h4><a target="_blank" href="https://github.com/sanjaykrishna1203/SnakeGame"><i style="text-align: right;cursor: pointer;" class="fa-brands fa-github"></i></a></h4>
                </div>
            </div>
            <li>
                Asp.Net, Windows Forms
            </li>
            <p>It is a simple snake game built with windows forms on asp.net, It is a classic snake game where the snake easts food to grow and score points. </p>
        </div>
    </div> -->
</div>
</div>
