<div class="px-5 bg">
  <h1 class="text-center sk">About</h1>
  <br /><br />
  <div class="row flex-column-reverse flex-lg-row">
    <div class="col-lg-6 pb-4">
      <p style="font-size: 20px">
        <span class="sk" style="font-size: 40px">Hello,</span> <br />
        I'm highly motivated Software Developer with a strong foundation in C#,
        Java, and C++. Proven ability to collaborate with cross-functional teams
        to deliver user-friendly web applications, improve system reliability,
        and increase customer satisfaction. Skilled in RESTful APIs, MVC, and
        SQL, with expertise in .NET development and Object-Oriented Programming
        (OOP). Aware of the Software Development Life Cycle (SDLC) and deep
        learning models(computer vision), enabling effective contribution to all
        development phases. Eager to apply technical skills and pursue a career
        as a Full-Stack developer, creating innovative solutions.
      </p>
      <br />
      <a
        type="button"
        href="https://drive.google.com/file/d/1XoF-l10Oht42k__Q4DFROy5fiBl48uEm/view"
        target="_blank"
        class="btn btn-outline-light dwnldBtn"
        >Download CV &nbsp;<span class="material-symbols-outlined download">
          download
        </span></a
      >
    </div>
    <div class="col-lg-6 pb-4">
      <div class="image-cropper">
        <img class="image" src="/src/assets/image.jpeg" alt="" />
      </div>
    </div>
  </div>
</div>
