
<div class="bg">

<h1 class="sk text-center">Work Experience</h1><br>
<div class="center">

<div class="timeline center">
    <div class="tl-content">
        <div class="tl-header">
            <span class="tl-marker"></span>
            <p class="tl-title">
                Iot & AI Engineer at skarpt 
            <p>
                <time class="tl-time" datetime="2023-06-20">
                    Feb 2025 - Present | 6th October, Giza | Onsite
                </time>
        </div>
        <div class="tl-body">
            <p>
                Implementing Ai (computer vision) solutions
                <br>
                Build deep learning models for real-time detection (e.g., PPE, fall, face recognition, object tracking, zone monitoring, fall detection)

            </p>
        </div>
    </div>
    <div class="tl-content">
        <div class="tl-header">
            <span class="tl-marker"></span>
            <p class="tl-title">
                Software Engineer at techno management
            <p>
                <time class="tl-time" datetime="2023-06-18">
                    Mar 2024 - Nov 2024 | Cairo | Remote
                </time>
        </div>
        <div class="tl-body">
            <p>
                Working as a software engineer:
                <br>
                Created solutions for the governments and private sector using technologies (.NET MVC, SharePoint, Power BI and SSRS)
            </p>
        </div>
    </div>
    <div class="tl-content">
        <div class="tl-header">
            <span class="tl-marker"></span>
            <p class="tl-title">
                Coding Instructor at iSchool
            <p>
                <time class="tl-time" datetime="2023-06-18">
                    Mar 2023 - May 2023 | Remote - Part Time
                </time>
        </div>
        <div class="tl-body">
            <p>
        (DEMI) is a 2-month project under the iSchool umbrella. Aiming to enhance their technological skills.
              <br>
              As a Coding Instructor, my role is to empower and qualify schoolchildren in coding during this program.
            </p>
        </div>
    </div>
    <div class="tl-content">
        <div class="tl-header">
            <span class="tl-marker"></span>
            <p class="tl-title">
                HIS Intern
            <p>
                <time class="tl-time" datetime="2023-06-18">
                    Jul 2023 - Jul 2023 | Hybrid
                </time>
        </div>
        <div class="tl-body">
            <p>
                I have learned about :
                <br>
                What is HIS
                <br>
                Technologies to improve health care
                <br>
                Erp system 
                <br>
                How all departments integrate with each other
                <br>
                Storage of data (Data Centre , Cloud)
                <br>
                Software applications in hospital          
            </p>
        </div>
    </div>
</div>
</div>

</div>

